[Unit]
Description=Slurm Jobs_exporter for Prometheus
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/jobs_exporter/bin/python3 /usr/sbin/jobs_exporter
Restart=always
RestartSec=3
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
